@media (max-width: 575.98px) {
    body {
        height: 100vh;
        width: 100vw;
    }
    .home-section {
        height: 74vh;
        width: 110vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }
    /* HOME CONTAINER STYLE START */
    .home-container {
        height: 600px;
        width: 300px;
        background-color: #161616;
        color: #ffffff;
        border-radius: 20px;
        margin-left: 11%;
        margin-top: 2rem;
        display: block;
    }
    .home-details {
        height: 50%;
        width: 89%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 2rem;
    }
    .home-details h1 {
        color: #ffffff;
        font-size: 25px;
        margin-bottom: 1rem;
        margin-top: -6rem;
        text-align: left;
    }
    .home-details p {
        color: #ffffff;
        margin-bottom: 1.5rem;
        text-align: left;
        font-size: 10px;
    }
    .watch-btn {
        padding: 10px 20px;
        background-color: transparent;
        color: #ffffff;
        border: 2px solid #DD0000;
        border-radius: 5px;
        transition: all 1s ease-in-out;
        margin-left: -8rem;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    /* HOME CONTIANER STYLE END */
    /* HOME BANNER STYLE START*/
    .home-banner {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -27vh;
    }
    .home-banner img {
        height: 260px;
        width: 260px;
        margin-bottom: 0px;
    }
    /* HOME BANNER STYLE END*/
    /* HOME SECTION END */
    /* BlOG SECTION START */
    .blog-section {
        display: block;
        width: 100vw;
        margin-top: 28rem;
        margin-left: 40%;
    }
    /* NAVIGATION STYLE START*/
    .navigetor {
        width: 200px;
        height: 200px;
        background-color: transparent;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -27.5rem;
        margin-bottom: 1rem;
        margin-left: 0rem;
        margin-right: 1rem;
    }
    .navigetor a button {
        height: 44px;
        width: 169px;
        border-radius: 10px;
        margin: 7px;
        font-size: 15px;
        border: none;
        font-weight: 500;
        cursor: pointer;
    }
    .active-btn {
        background-color: #DD0000;
        color: #ffffff;
    }
    /* NAVIGATION STYLE END */
    /* BLOG CONTAINER START */
    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0%;
    }
    .items {
        width: 250px;
        height: 300px;
        border: 1px solid #e8e8e8;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -40px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .items-img {
        width: 250px;
        margin-top: -19px;
    }
    .items-box {
        border: 1px solid #161616;
        width: 70px;
        height: 18px;
        margin-left: -133px;
        border-radius: 3px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .items-time-review {
        width: 143px;
        height: 26px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-left: -75px;
        margin-bottom: -17px;
    }
    .items-time-review img {
        width: 15px;
        height: 15px;
    }
    .items-time-review p {
        width: 42px;
        height: 28px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 26px;
        color: rgba(22, 22, 22, 0.7);
    }
    /* BLOG CONTAINER END */
    /* BLOG SECTION END */
    /* FOOTER SECTION STYLE START*/
    .footer-section {
        width: 130vw;
        height: 344px;
        background-color: #161616;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -8px;
    }
    .footer-section h1 {
        font-weight: 500;
        font-size: 40px;
        color: #ffffff;
        margin: 100px;
        margin-top: -50px;
        margin-left: 7rem;
    }
    .footer-hr {
        width: 400px;
        background-color: #B9B9B9;
        margin-left: 3rem;
    }
    .social-links {
        height: 50px;
        width: 300px;
        margin-left: -2.5rem;
        margin-top: -3rem;
    }
    .social-links-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
    .social-icon {
        text-decoration: none;
    }
    .social-icon img {
        width: 40px;
        height: 40px;
        margin-top: -1rem;
        border: solid 2px #B9B9B9;
        border-radius: 50%;
    }
    .social-icon img:hover {
        border: solid 2px #DD0000;
    }
    .insta img {
        width: 44px;
        height: 44px;
    }
    .footer-links {
        width: 360px;
        height: 24px;
        margin-left: -1rem;
    }
    .footer-links-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
    }
    .footer-li-a {
        text-decoration: none;
        color: #B9B9B9;
    }
    .footer-li-a {
        text-decoration: none;
        color: #B9B9B9;
    }
    /* FOOTER SECTION STYLE END*/
}